<div class="card  bg-light" *ngIf="listadoCitas.length===0">
    <div class="card-body">
        <h5 class="card-title text-center">No hay citas para mostrar</h5>
    </div>
</div>

<div *ngFor="let cita of listadoCitas; let i = index" class="card  bg-light mb-3">
    <div class="card-body">
        <p class="card-title text-center"><span>Nombre:</span> {{ cita.nombre }}</p>
        <p class="card-title text-center"><span>Fecha:</span> {{cita.fecha}}</p>
        <p class="card-title text-center"><span>Hora:</span> {{cita.hora}}</p>
        <p class="card-title text-center"><span>Sintomas:</span> {{cita.sintomas}}</p>
        <button class="btn btn-danger btn-block" style="width: 100%;" (click)="eliminarCita(i)">Eliminar</button>
    </div>
</div>

