<div class="card bg-light">
    <div class="card-body">
        <h5 class="card-title text-center">Crear cita</h5>
        <div *ngIf="formularioIncorrecto" class="text-center">
            <span class="badge bg-danger">Todos los campos son obligatorios</span>
        </div>
        <div class="form-group mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" [(ngModel)]="nombre" class="form-control" id="nombre" placeholder="Ingrese un nombre">
        </div>
        <div class="form-group mb-3">
            <label for="fecha">Fecha</label>
            <input type="date" [(ngModel)]="fecha" class="form-control" id="fecha">
        </div>
        <div class="form-group mb-3">
            <label for="hora">Hora</label>
            <input type="time" [(ngModel)]="hora" class="form-control" id="hora">
        </div>
        <div class="form-group mb-3">
            <label for="sintomas">Fecha</label>
            <textarea name="sintomas" [(ngModel)]="sintomas" id="sintomas" rows="3" class="form-control" placeholder="Ingrese los sintomas"></textarea>
        </div>
        <button (click)="crearCita()" style="width: 100%;" class="btn btn-primary btn-block">
            Crear cita
        </button>
    </div>
</div>
